.wday-0 {
  color: red;
}
.wday-6 {
  color: blue;
}

.event__manage{
  display: flex;
  justify-content: left;
  padding-top: 16px;
}

.event__btn{
  display: block;
  padding: 0.4em 1.6em;
  font-size: 0.4em;
  color: #999;
  text-decoration: none;
  user-select: none;
  border: 1px #999 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 0 4px;
}